@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

.section {
  width: 85%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border: 1px solid goldenrod;
  text-align: center;
  margin: 0 auto;
}

.key {
  color: goldenrod;
  padding: 0.5rem;
}

.value {
  background: lightgoldenrodyellow;
  width: 20%;
  padding: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .value {
    width: 50%;
  }
}
